th {
    cursor: pointer;
}

#dVilon {
    height: 500%;
    width: 100%;
    background-color: gray;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: .8;
}

.ag-theme-alpine {
    --ag-background-color: #ddd;
 }
 
 .ag-theme-alpine .ag-header-cell-label {
    font-style: italic;
 }
 
 .ag-theme-alpine {
    --ag-foreground-color: var(--appMainTextColor);
    --ag-foreground-color: #000;
    --ag-data-color: var(--ag-foreground-color);
 
    --ag-grid-size: 4px;
    --ag-cell-horizontal-padding: calc(var(--ag-grid-size) * 3);
    --ag-header-height: var(--ag-row-height);
 }

 .ag-header-cell{
    float: left;
 }