<div id="dModal2">
    <div class="container">
        <i class="fa fa-close fa-2x col-md-1" (click)="closeModal()"></i>

        <div class="row" style="width:100%">
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-3">
                        <b>Location:</b>
                    </div>
                    <div class="col-md-9">
                        <div class="pull-left"><b>{{selectedLocation}}</b></div>
                    </div>
                </div>
                <br />
                <br />
                <img [src]="selectedLocationImg" alt="" class="img-responsive" style="max-height:200px"
                    (mouseover)="showBigImg(true)">
            </div>
            <div class="col-md-6">
                <div *ngFor="let key of keys; index as k">
                    <table class="table table-striped table-bordered table-sm table-hover">
                        <thead *ngIf="k===0">
                            <th>Car number</th>
                            <th>Users</th>
                            <th>Visit dates</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carLocationUsers[key]; index as i">
                                <td>
                                    {{i===0?item.carNumber:''}}
                                </td>
                                <td>
                                    <div *ngFor="let userName of item.userNames; index as j">
                                        {{i===0?userName:''}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let visitDate of item.visitDates">
                                        {{visitDate}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <img 
        *ngIf="bigImg" 
        [src]="selectedLocationImg" 
        alt="" 
        class="img-responsive big-img" 
        (mouseout)="showBigImg(false)">
</div>