<div id="dModal2">
    <div class="container">
        <i class="fa fa-close fa-2x col-md-1" (click)="closeModal()"></i>

        <div class="row" style="width:100%">
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-3">
                        <b>Location:</b>
                    </div>
                    <div class="col-md-9">
                        <div class="pull-left"><b>{{selectedLocationLatLng}}</b></div>
                    </div>
                </div>
                <br />
                <br />
                <img [src]="selectedLocationImg" alt="" class="img-responsive" style="max-height:200px"
                    (mouseover)="showBigImg(true)">
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <th>CARS</th>
                        <th>USERS</th>
                        <th>VISIT DATES</th>
                    </thead>
                    <tr *ngFor="let carUsersDates of carsUsersDates | keyvalue">
                        <td>{{carUsersDates.key}}</td>
                        <td>
                            <div *ngFor="let userFullName of getUsers(carUsersDates)">{{userFullName}}</div>
                        </td>
                        <td>
                            <div *ngFor="let date of getDates(carUsersDates)">{{date}}</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<img *ngIf="bigImg" [src]="selectedLocationImg" alt="" class="img-responsive big-img" (click)="showBigImg(false,$event)" (mouseout)="showBigImg(false)">